p,
a{
    color: green;
}

 li{
     list-style-type: square;
 }

 <!--class selector-->
 span.special,li.special{
     color: orange;
     font-weight: bold;
 }

 li em{
     color: rebeccapurple;
 }

 h1+p{
     font-size: 200%;
    
 }

 a:hover{
     color: red;
     text-decoration: none;
 }

 body h1+p .special {
     color: yellow;
     background-color: black;
     padding: 5px;
     
 }